.login-signup-div{
    width: 30vw;
    margin: auto;
    padding: 10px;
    border-top-right-radius:50px;
    border-bottom-left-radius:20px;
    box-shadow: 1px 2px 20px  rgba(0, 0, 0, 0.16);
    margin-top: 50px;
}
.form-header{
    color: var(--theam-color);
    font-size: x-large;
    margin: 5px 0px 10px 0px;
}
.form-element{
    margin: 10px 0px;
}
.element-header{
    font-size: smaller;
    color: gray;
}
.element-input{
    width: 100%;
    padding: 5px;
    border:1.5px solid rgb(217, 217, 217);
    border-radius: 3px;
}
.submit-button{
    display: block;
    margin: 15px auto 5px auto;
    width: 100px;
    padding: 4px;
    border-radius: 30px;
    background-color: var(--theam-color);
    color: white;
    border:none ;
}
.submit-button:hover{
    background-color: var(--theam-color-d1);
    box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.519);
}
.submit-button:active{
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.519);
}